@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Ruluko);

@font-face {
    font-family: 'Quicksand-Light';
    src: url(../src/assets/font/Quicksand-Light.ttf);
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url(../src/assets/font/Quicksand-Bold.ttf);
}

@use '_font' as font;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ruluko", sans-serif;
    margin: 0px auto;
    text-align: center;
    width: 100vw;
    background-image: url(../src/assets/img/mirza-babic-eYZpTMc7hno-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-color: rgba(221,221,221,0.7);
    color: rgba(31,0,31,0.9);
    padding: 1.5rem;
}

h1 {
    font-family: 'Quicksand-Light';
}

h3 {
    font-family: 'Quicksand-Bold';
}

p {
    font-size: 3rem;
    background-color: rgba(31,0,31,0.7);
    color: rgba(221,221,221,0.9);

}

input[type="number"] {
  width: auto;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.5rem 1.1rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba(31,0,31,0.9);
  cursor: pointer;
  transition: border-color 0.25s;

}

button {
    background-color: rgba(31,0,31,0.9);
    color: rgba(221,221,221,0.9);
}


/* .header {
    margin: 50px 0px;
}

#logoImg {
    width: 100px;
    height: 100px;
}

#title {
    color: #fbec5d;
    background-color: #fffbc9;
    border-radius: 5px;
    font-family: "Oleo Script", cursive;
    font-size: 50px;
    margin: 0;
}

.konto {
    color: #6b3e26;
    background-color: #fffbc9;
    border: 1px solid #fbec5d;
    border-radius: 15px;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    width: 300px;
}

.saldo {
    background-color: #fbec5d;
    color: #ffffff;
    border: 1px solid #fbec5d;
    border-radius: 15px;
    font-family: "Ruluko", sans-serif;
    font-size: 50px;
    margin: 5px;
    padding: 25px 0px;
}
.geldbetrag {
    margin: 0 0.25rem;
    min-width: 125px;
    border: 1px solid #eee;
    border-radius: 5px;
    transition: border-color 0.5s ease-out;
}
.auszahlen,
.einzahlen {
    margin: 5px;
    background-color: #fbec5d;
    color: #6b3e26;
    border-radius: 5px;
} */